html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
    padding-top: 20px;
}

footer {
    flex-shrink: 0;
    padding: 20px 0;
    background: #f8f9fa;
    text-align: center;
    width: 100%;
}
