<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Cloud Generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<div class="container">
    <h3>Word Cloud Generator</h3>
    <form class="col s12" action="/generate" method="post" target="resultFrame">
        <div class="row">
            <div class="input-field col s12">
                <textarea id="text" class="materialize-textarea" name="text" required></textarea>
                <label for="text">Enter your text here...</label>
            </div>
        </div>
        <p>
            <label>
                <input type="checkbox" name="stopwords"/>
                <span>Remove Stop Words</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" name="lemmatization"/>
                <span>Use Lemmatization</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" name="stemming"/>
                <span>Use Stemming</span>
            </label>
        </p>
        <button class="btn waves-effect waves-light" type="submit">Generate
            <i class="material-icons right">cloud</i>
        </button>
    </form>
    <div class="row">
        <iframe name="resultFrame" style="width: 100%; height: 600px; border: none;"></iframe>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="script.js"></script>

</body>

</html>
